<div class="col-10 offset-1 about">
  <h1>About my version of Splurty</h1>
  
  <p>
    This version of Splurty was built by <a target="_blank" href="https://github.com/jcmony12793">Marshall</a>
  </p>
  
  <div class="row">
    <div class="col-12 col-sm-4">
	  <%= image_tag 'me.png', class: 'img-fluid' %>
	</div>
	
	<div class="col-12 col-sm-7 offset-sm-1">
	  <h2 class="text-center">Marshall Guttormsson</h2>
	  <br />
	  <p>
	    Marshall Guttormsson is a junior developer. He took multiple programming classes and earned certificates from E.V.I.T. for multiple programming languages.
	  </p>
	</div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />